<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <h2 class="navbar-brand text-success">EmStore</h2>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse border-dark" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto ">
            <li class="nav-item active">
                <a class="nav-link bg-dark" href="#">หน้าแรก
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link bg-dark" href="#">ลงชื่อเข้าใช้</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link bg-dark" href="#">แนะนำ</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link bg-dark" href="#">Top 10</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="ค้นหา" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>