<div class="row">
    <div class="col-md-3 text-center">
        <img class="rounded mx-auto " src="https://upload.wikimedia.org/wikipedia/en/thumb/3/32/Day_%26_Night_poster.jpg/220px-Day_%26_Night_poster.jpg" width="100%"
            height="50%">
        <p>Day & Night</p>
    </div>
    <div class="col-md-3 text-center">

        <img src="https://cdn-2.cinemaparadiso.co.uk/12090411330321_l.jpg" width="100%" height="50%">
        <p>Home Alone 4</p>

    </div>
    <div class="col-md-3 text-center">

        <img class="rounded mx-auto " src="https://images-na.ssl-images-amazon.com/images/M/MV5BOTA0MTQ2Mzc3N15BMl5BanBnXkFtZTcwNzA4ODAwNA@@._V1_UX182_CR0,0,182,268_AL_.jpg"
            width="100%" height="50%">
        <p>Mars Needs Moms</p>

    </div>
    <div class="col-md-3 text-center">
        <img class="rounded mx-auto " src="https://upload.wikimedia.org/wikipedia/en/thumb/7/76/Winnie_the_Pooh_and_Tigger_Too_poster.jpg/220px-Winnie_the_Pooh_and_Tigger_Too_poster.jpg"
            width="100%" height="50%">
        <p>Winnie the Pooh and Tigger Too</p>
    </div>
</div>


<div class="row">
    <div class="col-md-3 text-center">
        <img class="rounded mx-auto " src="https://resizing.flixster.com/MNIePkuiQ6vZarvBncUTJCLPTaE=/206x305/v1.bTsxMDg4MzY2NTtqOzE3NjMwOzEyMDA7Mzc4OzUyNw" width="100%"
            height="50%">
        <p>BURN-E</p>
    </div>
    <div class="col-md-3 text-center">

        <img src="https://pmcdeadline2.files.wordpress.com/2011/03/hop_20110331144850.jpg?w=605" width="100%" height="50%">
        <p>Hop </p>

    </div>
    <div class="col-md-3 text-center">

        <img class="rounded mx-auto " src="https://i.pinimg.com/originals/bc/45/5b/bc455b900bb9aaf0180956374a497f16.jpg"
            width="100%" height="50%">
        <p>Rio</p>

    </div>
    <div class="col-md-3 text-center">
        <img class="rounded mx-auto " src="https://filmreviewsbypeople.files.wordpress.com/2012/02/kung_fu_panda_2___fan_poster_by_addictomovie-d3dpml8.jpg"
            width="100%" height="50%">
        <p>Kung Fu Panda 2</p>
    </div>
</div>

<div class="row">
    <div class="col-md-3 text-center">
        <img class="rounded mx-auto " src="http://img.moviepostershop.com/curly-top-movie-poster-1935-1020142770.jpg" width="100%"
            height="50%">
        <p>Curly Top</p>
    </div>
    <div class="col-md-3 text-center">

        <img src="https://vignette.wikia.nocookie.net/disney/images/3/3c/Cars2_Poster.jpg/revision/latest/scale-to-width-down/250?cb=20120323041628" width="100%" height="50%">
        <p>Cars 2</p>

    </div>
    <div class="col-md-3 text-center">

        <img class="rounded mx-auto " src="https://images-na.ssl-images-amazon.com/images/I/910x1JGw27L._RI_SX200_.jpg"
            width="100%" height="50%">
        <p>Winnie the Pooh </p>

    </div>
    <div class="col-md-3 text-center">
        <img class="rounded mx-auto " src="https://upload.wikimedia.org/wikipedia/en/1/11/TheSmurfs2011Poster.jpg"
            width="100%" height="50%">
        <p>Smurfs, The</p>
    </div>
</div>


<div class="row">
    <div class="col-md-3 text-center">
        <img class="rounded mx-auto " src="https://upload.wikimedia.org/wikipedia/en/thumb/7/79/Supermanmolemen.jpg/220px-Supermanmolemen.jpg" width="100%"
            height="50%">
        <p>Superman and the Mole-Men</p>
    </div>
    <div class="col-md-3 text-center">

        <img src="https://images-na.ssl-images-amazon.com/images/I/91M1WWwOAfL._SL1500_.jpg" width="100%" height="50%">
        <p>Hugo</p>

    </div>
    <div class="col-md-3 text-center">

        <img class="rounded mx-auto " src="https://images-na.ssl-images-amazon.com/images/M/MV5BMjE0MTM4NTc3NF5BMl5BanBnXkFtZTcwMjYzOTIxNg@@._V1_UY1200_CR89,0,630,1200_AL_.jpg"
            width="100%" height="50%">
        <p>Muppets, The</p>

    </div>
    <div class="col-md-3 text-center">
        <img class="rounded mx-auto " src="https://media1.britannica.com/eb-media/32/90632-004-AF453E77.jpg"
            width="100%" height="50%">
        <p>Little Colonel</p>
    </div>
</div>