
<div class="row">
    <div class="col-md-3 text-center">
        <img class="rounded mx-auto " src="http://3.bp.blogspot.com/-gdGduc5ZoYQ/Ux7zxNdtTrI/AAAAAAAABII/BZsnbeVUU4s/s1600/1274110182.jpg" width="100%" height="50%">
            
        <p>Dogma</p>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-9">
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star_half</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
            </div>
        </div>
        <br>
    </div>
    <div class="col-md-3 text-center">

        <img src="http://contact25.com/uploads/7_513024.jpg" width="100%" height="50%">
        <p>Babes in Toyland</p>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-9">
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star_half</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
            </div>
        </div>
        <br>

    </div>
    <div class="col-md-3 text-center">

        <img class="rounded mx-auto " src="https://images-na.ssl-images-amazon.com/images/M/MV5BM2NlMDQzMDktNTMyZS00MjBjLWI0MmEtMzgzZDM2ZTVkNzE1XkEyXkFqcGdeQXVyNTUyMzE4Mzg@._V1_UY1200_CR90,0,630,1200_AL_.jpg"
            width="100%" height="50%">
        <p>Scrooged</p>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-9">
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star_half</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
            </div>
        </div>
        <br>

    </div>
    <div class="col-md-3 text-center">
        <img class="rounded mx-auto " src="https://hilight.kapook.com/img_cms/movie/poster-last-chance-harvey_f.jpg"
            width="100%" height="50%">
        <p>Harvey</p>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-9">
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star_half</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
            </div>
        </div>
        <br>
    </div>
</div>

<div class="row">
    <div class="col-md-3 text-center">
        <img class="rounded mx-auto " src="http://is2.mzstatic.com/image/thumb/Video/v4/c7/3f/0b/c73f0b97-c214-46b9-a486-8fe557b29fde/source/1200x630bb.jpg" width="100%"
            height="50%">
        <p>Fisher King, The</p>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-9">
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star_half</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
            </div>
        </div>
        <br>
    </div>
    <div class="col-md-3 text-center">

        <img src="https://www.bloggang.com/data/z/zero1408/picture/1371106939.jpg" width="100%" height="50%">
        <p>End of Days</p>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-9">
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star_half</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
            </div>
        </div>
        <br>

    </div>
    <div class="col-md-3 text-center">

        <img class="rounded mx-auto " src="https://www.movie2free.com/wp-content/uploads/2015/02/StuartLittle1-229x300.jpg"
            width="100%" height="50%">
        <p>Stuart Little</p>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-9">
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star_half</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
            </div>
        </div>
        <br>

    </div>
    <div class="col-md-3 text-center">
        <img class="rounded mx-auto " src="https://www.bloggang.com/data/k/kaizanke/picture/1352102177.jpg"
            width="100%" height="50%">
        <p>Death Becomes Her</p>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-9">
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star_half</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
            </div>
        </div>
        <br>
    </div>
</div>

<div class="row">
    <div class="col-md-3 text-center">
        <img class="rounded mx-auto " src="https://www.bloggang.com/data/a/amp-atom/picture/1291994118.jpg" width="100%"
            height="50%">
        <p>Defending Your Life</p>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-9">
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star_half</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
            </div>
        </div>
        <br>
    </div>
    <div class="col-md-3 text-center">

        <img src="https://f.ptcdn.info/804/042/000/o7f2lk7koUzUnTMVa7g-o.jpg" width="100%" height="50%">
        <p>Date with an Angel</p>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-9">
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star_half</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
            </div>
        </div>
        <br>

    </div>
    <div class="col-md-3 text-center">

        <img class="rounded mx-auto " src="https://lh3.googleusercontent.com/nbCUgWsB-HnAKnEsdcry9sCSzCpRTP4Fh6ObvPA2ZABnsHKrtNFLQ7NTlwEr6m-qJIse"
            width="100%" height="50%">
        <p>We're Back! A Dinosaur's Story</p>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-9">
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star_half</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
            </div>
        </div>
        <br>

    </div>
    <div class="col-md-3 text-center">
        <img class="rounded mx-auto " src="http://p3.isanook.com/mv/0/ud/7/37606/08rtb_350x450cm.jpg"
            width="100%" height="50%">
        <p>Teenage Mutant Ninja Turtles</p>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-9">
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star_half</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
            </div>
        </div>
        <br>
    </div>
</div>

<div class="row">
    <div class="col-md-3 text-center">
        <img class="rounded mx-auto " src="http://24hrfilmsession.miwkpublishing.com/wp-content/uploads/2013/07/l66wyKTMVY1MVp7qJFdUgR8VUiA.jpg" width="100%"
            height="50%">
        <p>Heart and Souls</p>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-9">
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star_half</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
            </div>
        </div>
        <br>
    </div>
    <div class="col-md-3 text-center">

        <img src="https://www.nanamovies.com/wp-content/uploads/2016/11/Ladyhawke-1985-1.jpeg" width="100%" height="50%">
        <p>Ladyhawke</p>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-9">
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star_half</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
            </div>
        </div>
        <br>

    </div>
    <div class="col-md-3 text-center">

        <img class="rounded mx-auto " src="https://www.9nung.com/wp-content/uploads/2017/09/1504311401-hook-1991-%E0%B8%AE%E0%B8%B8%E0%B8%84-%E0%B8%AD%E0%B8%A0%E0%B8%B4%E0%B8%99%E0%B8%B4%E0%B8%AB%E0%B8%B2%E0%B8%A3%E0%B8%99%E0%B8%B4%E0%B8%A3%E0%B9%81%E0%B8%94%E0%B8%99.jpg"
            width="100%" height="50%">
        <p>Hook</p>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-9">
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star_half</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
            </div>
        </div>
        <br>

    </div>
    <div class="col-md-3 text-center">
        <img class="rounded mx-auto " src="http://www.chris-winter.com/Erudition/Reviews/VisMedia/_Fantas/Quine_R/TT0051406.jpg"
            width="100%" height="50%">
        <p>Bell, Book and Candle</p>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-9">
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star_half</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
            </div>
        </div>
        <br>
    </div>
</div>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">