<div class="container"></div>
<span class="border border-white">
    <div class="row">
        <div class="col-md-2">
            <div class="card card-inverse" style="background-color: #333; border-color: #333;">
                <app-bar></app-bar>
            </div>
        </div>
        <div class="col-md-10">
               <!-- <router-outlet></router-outlet>    -->
              <!-- <app-login></app-login>   -->
              <!-- <app-Recom></app-Recom> -->
              <!-- <app-war></app-war>  -->
             <!-- <app-western></app-western>  -->
             <!-- <app-children></app-children>  -->
             <!-- <app-mystery></app-mystery> -->
             <!-- <app-crime></app-crime> -->
             <!-- <app-animation></app-animation> -->
             <!-- <app-horror></app-horror> -->
             <app-thriller></app-thriller>
             
        </div>
        <div>
        </div>
    </div>
</span>