<div class="container"></div>
<span class="border border-white">
    <div class="row">
        <div class="col-md-2">
            <div class="card card-inverse" style="background-color: #333; border-color: #333;">
                <app-bar></app-bar>
            </div>
        </div>
        <div class="col-md-10">
             <!-- <app-slide></app-slide>
             <app-movie></app-movie>   -->
    <!-- <app-Top-10></app-Top-10> -->

        <!-- <app-search></app-search> -->
        <app-both></app-both>
         <!-- <router-outlet></router-outlet> --> -->
        </div>
        <div>
           
          
        </div>
    </div>
</span>