<div class="form-group">
    <div class="container-fluid"><br>
        <span class="border-info">
            <a class="nav-link text-white btn btn-danger" href="#">Documentary</a>
        </span><br>
        <span class="border-info ">
            <a class="nav-link text-white btn btn-danger" href="#">Comedy</a>
        </span><br>
        <span class="border-warning ">
            <a class="nav-link text-white btn btn-danger" href="#">Action</a>
        </span><br>
        <span class="border-warning ">
            <a class="nav-link text-white btn btn-danger" href="#">Adventure</a>
        </span><br>
        <span class="border-warning ">
            <a class="nav-link text-white btn btn-danger" href="#">Fantasy</a>
        </span><br>
        <span class="border-warning ">
            <a class="nav-link text-white btn btn-danger" href="#">Sci-Fi</a>
        </span><br>
        <span class="border-warning ">
            <a class="nav-link text-white btn btn-danger" href="#">Drama</a>
        </span><br>
        <span class="border-warning ">
            <a class="nav-link text-white btn btn-danger" href="#">Romance</a>
        </span><br>
        <span class="border-warning ">
            <a class="nav-link text-white btn btn-danger" href="#">Thriller</a>
        </span><br>
        <span class="border-warning ">
            <a class="nav-link text-white btn btn-danger" href="#">Horror</a>
        </span><br>
        <span class="border-warning ">
            <a class="nav-link text-white btn btn-danger" href="#">Animation</a>
        </span><br>
        <span class="border-warning ">
            <a class="nav-link text-white btn btn-danger" href="#">Crime</a>
        </span><br>
        <span class="border-warning ">
            <a class="nav-link text-white btn btn-danger" href="#">Mystery</a>
        </span><br>
        <span class="border-warning ">
            <a class="nav-link text-white btn btn-danger" href="#">Children</a>
        </span><br>
        <span class="border-warning ">
            <a class="nav-link text-white btn btn-danger" href="#">Western</a>
        </span><br>
        <span class="border-warning ">
            <a class="nav-link text-white btn btn-danger" href="#">War</a>
        </span>
    </div>

</div>