<h4 class="text-white" align="center">
    Categories</h4>
<div class="container-fluid" align="center">
    <span class="border-warning ">
        <a class="nav-link text-white btn-danger btn-block" href="../Documentary/">Documentary</a>
    </span>
    <br>
    <span class="border-warning ">
        <a class="nav-link text-white btn-danger btn-block" href="../Comedy/">Comedy</a>
    </span>
    <br>
    <span class="border-warning ">
        <a class="nav-link text-white btn-danger btn-block" href="../Action/">Action</a>
    </span>
    <br>
    <span class="border-warning ">
        <a class="nav-link text-white btn-danger btn-block" href="../Adventure/">Adventure</a>
    </span>
    <br>
    <span class="border-warning ">
        <a class="nav-link text-white btn-danger btn-block" href="../Fantasy/">Fantasy</a>
    </span>
    <br>
    <span class="border-warning ">
        <a class="nav-link text-white btn-danger btn-block" href="../Scifi/">Sci-Fi</a>
    </span>
    <br>
    <span class="border-warning ">
        <a class="nav-link text-white btn-danger btn-block" href="../Drama/">Drama</a>
    </span>
    <br>
    <span class="border-warning ">
        <a class="nav-link text-white btn-danger btn-block" href="../Romance/">Romance</a>
    </span>
    <br>
    <span class="border-warning ">
        <a class="nav-link text-white btn-danger btn-block" href="../Thriller/">Thriller</a>
    </span>
    <br>
    <span class="border-warning ">
        <a class="nav-link text-white btn-danger btn-block" href="../Horror/">Horror</a>
    </span>
    <br>
    <span class="border-warning ">
        <a class="nav-link text-white btn-danger btn-block" href="../Animation/">Animation</a>
    </span>
    <br>
    <span class="border-warning ">
        <a class="nav-link text-white btn-danger btn-block" href="../Crime/">Crime</a>
    </span>
    <br>
    <span class="border-warning ">
        <a class="nav-link text-white btn-danger btn-block" href="../Mystery/">Mystery</a>
    </span>
    <br>
    <span class="border-warning ">
        <a class="nav-link text-white btn-danger btn-block" href="../Children/">Children</a>
    </span>
    <br>
    <span class="border-warning ">
        <a class="nav-link text-white btn-danger btn-block" href="../Western/">Western</a>
    </span>
    <br>
    <span class="border-warning ">
        <a class="nav-link text-white btn-danger btn-block" href="../War/">War</a>
    </span>
    <br>
</div>