
<div class="row">
    <div class="col-md-3 text-center">
        <img class="rounded mx-auto " src="https://i.pinimg.com/originals/df/62/a6/df62a611a8b6f996715387f6668785e3.jpg" width="100%" height="50%">
            
        <p>Heat</p>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-9">
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star_half</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
            </div>
        </div>
        <br>
    </div>
    <div class="col-md-3 text-center">

        <img src="http://vignette3.wikia.nocookie.net/die-hard-scenario/images/b/b6/Sudden_Death.jpg/revision/latest?cb=20140310185927" width="100%" height="50%">
        <p>Sudden Death</p>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-9">
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star_half</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
            </div>
        </div>
        <br>

    </div>
    <div class="col-md-3 text-center">

        <img class="rounded mx-auto " src="http://image.wikifoundry.com/image/3/32a847ecda54b843a31c01c336fc5fe3/GW350H521"
            width="100%" height="50%">
        <p>GoldenEye</p>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-9">
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star_half</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
            </div>
        </div>
        <br>

    </div>
    <div class="col-md-3 text-center">
        <img class="rounded mx-auto " src="https://images-na.ssl-images-amazon.com/images/I/51ZrvaPUqJL._SY445_.jpg"
            width="100%" height="50%">
        <p>Cutthroat Island</p>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-9">
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star_half</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
            </div>
        </div>
        <br>
    </div>
</div>

<div class="row">
    <div class="col-md-3 text-center">
        <img class="rounded mx-auto " src="https://upload.wikimedia.org/wikipedia/en/3/32/Ghostbusters_2016_film_poster.png" width="100%"
            height="50%">
        <p>Ghostbusters</p>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-9">
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star_half</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
            </div>
        </div>
        <br>
    </div>
    <div class="col-md-3 text-center">

        <img src="https://upload.wikimedia.org/wikipedia/en/d/de/Money_Train.jpg" width="100%" height="50%">
        <p>Money Train</p>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-9">
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star_half</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
            </div>
        </div>
        <br>

    </div>
    <div class="col-md-3 text-center">

        <img class="rounded mx-auto " src="http://2.bp.blogspot.com/-2lbjZuF64O0/VKPvYF7JQQI/AAAAAAAAB7w/c5E3jIDjQqU/s1600/Assassin%27s%2BCreed%2B(2015).jpg"
            width="100%" height="50%">
        <p>Assassins</p>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-9">
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star_half</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
            </div>
        </div>
        <br>

    </div>
    <div class="col-md-3 text-center">
        <img class="rounded mx-auto " src="https://i.pinimg.com/originals/b1/ec/77/b1ec775244560e7ee7dfa9926dc9a3ee.jpg"
            width="100%" height="50%">
        <p>Dead Presidents</p>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-9">
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star_half</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
            </div>
        </div>
        <br>
    </div>
</div>

<div class="row">
    <div class="col-md-3 text-center">
        <img class="rounded mx-auto " src="https://movie.mthai.com/app/uploads/2013/02/url13-404x600.jpg" width="100%"
            height="50%">
        <p>Mortal Kombat</p>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-9">
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star_half</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
            </div>
        </div>
        <br>
    </div>
    <div class="col-md-3 text-center">

        <img src="https://www.mastermovie-hd.com/wp-content/uploads/2016/08/Collateral-Damage-%E0%B8%84%E0%B8%99%E0%B9%80%E0%B8%AB%E0%B8%A5%E0%B9%87%E0%B8%81%E0%B8%97%E0%B8%A7%E0%B8%87%E0%B9%81%E0%B8%84%E0%B9%89%E0%B8%99%E0%B8%A7%E0%B8%B4%E0%B8%99%E0%B8%B2%E0%B8%A8%E0%B8%81%E0%B8%A3%E0%B8%A3%E0%B8%A1%E0%B8%97%E0%B8%A1%E0%B8%B4%E0%B8%AC.jpg" width="100%" height="50%">
        <p>Collateral Damage</p>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-9">
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star_half</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
            </div>
        </div>
        <br>

    </div>
    <div class="col-md-3 text-center">

        <img class="rounded mx-auto " src="https://upic.me/i/ib/rollerballver2.jpg"
            width="100%" height="50%">
        <p>Rollerball</p>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-9">
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star_half</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
            </div>
        </div>
        <br>

    </div>
    <div class="col-md-3 text-center">
        <img class="rounded mx-auto " src="http://iv1.lisimg.com/image/176643/500full-we-were-soldiers-poster.jpg"
            width="100%" height="50%">
        <p>We Were Soldiers</p>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-9">
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star_half</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
            </div>
        </div>
        <br>
    </div>
</div>

<div class="row">
    <div class="col-md-3 text-center">
        <img class="rounded mx-auto " src="https://i.pinimg.com/564x/00/9e/bc/009ebc511c504908183c095ad0a459cb--tommy-flanagan-the-benjamins.jpg" width="100%"
            height="50%">
        <p>All About the Benjamins</p>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-9">
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star_half</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
            </div>
        </div>
        <br>
    </div>
    <div class="col-md-3 text-center">

        <img src="https://www.movie2free.com/wp-content/uploads/2014/12/the-time-machine2002.jpg" width="100%" height="50%">
        <p>Time Machine, The</p>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-9">
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star_half</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
            </div>
        </div>
        <br>

    </div>
    <div class="col-md-3 text-center">

        <img class="rounded mx-auto " src="https://www.mastermovie-hd.com/wp-content/uploads/2017/02/Resident-Evil-The-Final-Chapter.jpg"
            width="100%" height="50%">
        <p>Resident Evil</p>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-9">
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star_half</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
            </div>
        </div>
        <br>

    </div>
    <div class="col-md-3 text-center">
        <img class="rounded mx-auto " src="https://www3.freemovie-hd.com/wp-content/uploads/2015/01/Showtime.jpg"
            width="100%" height="50%">
        <p>Showtime</p>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-9">
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star_half</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
            </div>
        </div>
        <br>
    </div>
</div>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">