<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8 ">
        <div class=" text-center card card-inverse card-success ">
            <h1>Login</h1>
        </div>

    </div>
    <div class="col-md-2"></div>
</div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 ">
        <table class="table table-striped table-inverse  text-center  ">
            <thead>
                <tr class="bg-danger">
                    <th>No.</th>
                    <th>Users</th>
                    <th>Select Uesr</th>

                </tr>
            </thead>
            <tbody class="table-active">
                <tr >
                    <th scope="row">1</th>
                    <td>User 1</td>
                    <td>
                        <a class="btn btn-outline-warning  " role="button">Select</a>
                    </td>
                </tr>
                <tr>
                <th scope="row">2</th>
                <td>User 2</td>
                <td>
                    <a class="btn btn-outline-warning  " role="button">Select</a>
                </td>
            </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>User 3</td>
                    <td>
                        <a class="btn btn-outline-warning  " role="button">Select</a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>User 4</td>
                    <td>
                        <a class="btn btn-outline-warning  " role="button">Select</a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>User 5</td>
                    <td>
                        <a class="btn btn-outline-warning  " role="button">Select</a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td>User 6</td>
                    <td>
                        <a class="btn btn-outline-warning  " role="button">Select</a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">7</th>
                    <td>User 7</td>
                    <td>
                        <a class="btn btn-outline-warning  " role="button">Select</a>
                    </td>
                </tr>  <tr>
                    <th scope="row">8</th>
                    <td>User 8</td>
                    <td>
                        <a class="btn btn-outline-warning  " role="button">Select</a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">9</th>
                    <td>User 9</td>
                    <td>
                        <a class="btn btn-outline-warning  " role="button">Select</a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">10</th>
                    <td>User 10</td>
                    <td>
                        <a class="btn btn-outline-warning  " role="button">Select</a>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
    <div class="col-md-2"></div>
</div>