<div class="form-group">
    <ul class="nav nav-pills nav-justified flex-sm-row bg-danger clearfix ">
        <li class="nav-item active">
            <a class="nav-link text-white btn btn-danger" href="#">อิเล็กโทรนิกส์</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white btn btn-danger" href="#">เครื่องแต่งกายชาย</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white btn btn-danger" href="#">เครื่อแต่งกายหญิง</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white btn btn-danger" href="#">สุขภาพความงาม</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white btn btn-danger" href="#">สัตว์เลี้ยง</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white btn btn-danger" href="#">เด็กและของเล่น</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white btn btn-danger" href="#">กีฬา</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white btn btn-danger" href="#">สื่อบันเทิง</a>
        </li>
    </ul>
</div>
