
<div class="row">
    <div class="col-md-3 text-center">
        <img class="rounded mx-auto " src="https://1.bp.blogspot.com/-6ejGyiOTzHY/VixQydf5ZHI/AAAAAAAAbOM/OCd48CpjOJ4/s320/Me%252C_Myself_and_Irene_Posters.jpg" width="100%" height="50%">
            
        <p>Me Myself I</p>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-9">
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star_half</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
            </div>
        </div>
        <br>
    </div>
    <div class="col-md-3 text-center">

        <img src="http://www.mangpong.co.th/ProductImage/product/009663.jpg" width="100%" height="50%">
        <p>Arthur</p>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-9">
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star_half</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
            </div>
        </div>
        <br>

    </div>
    <div class="col-md-3 text-center">

        <img class="rounded mx-auto " src="http://is1.mzstatic.com/image/thumb/Video/v4/b3/9f/1e/b39f1ed9-41f9-2cf8-53c5-cf09d21a5a1f/source/1200x630bb.jpg"
            width="100%" height="50%">
        <p>Prince of Tides, The</p>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-9">
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star_half</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
            </div>
        </div>
        <br>

    </div>
    <div class="col-md-3 text-center">
        <img class="rounded mx-auto " src="http://oknation.nationtv.tv/blog/home/user_data/file_data/201511/09/70894eb9c.jpg"
            width="100%" height="50%">
        <p>Keeping the Faith</p>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-9">
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star_half</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
            </div>
        </div>
        <br>
    </div>
</div>

<div class="row">
    <div class="col-md-3 text-center">
        <img class="rounded mx-auto " src="https://upload.wikimedia.org/wikipedia/en/f/fd/Passion_of_mind.jpg" width="100%"
            height="50%">
        <p>Passion of Mind</p>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-9">
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star_half</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
            </div>
        </div>
        <br>
    </div>
    <div class="col-md-3 text-center">

        <img src="https://f.ptcdn.info/195/054/000/oxytmumelz2l4IkISLo-o.jpg" width="100%" height="50%">
        <p>Guys and Dolls</p>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-9">
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star_half</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
            </div>
        </div>
        <br>

    </div>
    <div class="col-md-3 text-center">

        <img class="rounded mx-auto " src="http://203.144.224.125/dvdcover/imageweb28/LoveandBasketball200018466_f.jpg"
            width="100%" height="50%">
        <p>Love and Basketball</p>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-9">
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star_half</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
            </div>
        </div>
        <br>

    </div>
    <div class="col-md-3 text-center">
        <img class="rounded mx-auto " src="http://www.mangpong.co.th/ProductImage/product/008146.jpg"
            width="100%" height="50%">
        <p>Limelight</p>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-9">
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star_half</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
            </div>
        </div>
        <br>
    </div>
</div>

<div class="row">
    <div class="col-md-3 text-center">
        <img class="rounded mx-auto " src="http://4.bp.blogspot.com/-WcznAknQyYU/UzOH5_wblUI/AAAAAAAAC90/l1-l0fD8KIg/s1600/Bossa+nova+foi.jpg" width="100%"
            height="50%">
        <p>Bossa Nova</p>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-9">
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star_half</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
            </div>
        </div>
        <br>
    </div>
    <div class="col-md-3 text-center">

        <img src="http://www.mangpong.co.th/ProductImage/product/002577.jpg" width="100%" height="50%">
        <p>Two Moon Junction</p>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-9">
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star_half</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
            </div>
        </div>
        <br>

    </div>
    <div class="col-md-3 text-center">

        <img class="rounded mx-auto " src="http://www.mangpong.co.th/ProductImage/product/003329.jpg"
            width="100%" height="50%">
        <p>Breathless</p>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-9">
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star_half</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
            </div>
        </div>
        <br>

    </div>
    <div class="col-md-3 text-center">
        <img class="rounded mx-auto " src="http://bookvirus50d.com/wp-content/uploads/2015/01/hamlet-mel-1.jpg"
            width="100%" height="50%">
        <p>Hamlet</p>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-9">
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star_half</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
            </div>
        </div>
        <br>
    </div>
</div>

<div class="row">
    <div class="col-md-3 text-center">
        <img class="rounded mx-auto " src="http://2.bp.blogspot.com/-BuvdSSo0Jhc/UC3rxwRiGaI/AAAAAAAABUc/0p38YP-LY_I/s1600/G.I._Blues_Poster.jpg" width="100%"
            height="50%">
        <p>G.I. Blues </p>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-9">
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star_half</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
            </div>
        </div>
        <br>
    </div>
    <div class="col-md-3 text-center">

        <img src="https://f.ptcdn.info/485/016/000/1394283939-TheTown-o.jpg" width="100%" height="50%">
        <p>On the Town</p>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-9">
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star_half</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
            </div>
        </div>
        <br>

    </div>
    <div class="col-md-3 text-center">

        <img class="rounded mx-auto " src="http://www.cleothailand.com/wp-content/uploads/2015/07/Disney-Channel-Teen-Beach-2-3.jpg"
            width="100%" height="50%">
        <p>Female on the Beach</p>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-9">
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star_half</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
            </div>
        </div>
        <br>

    </div>
    <div class="col-md-3 text-center">
        <img class="rounded mx-auto " src="https://i.pinimg.com/736x/66/fb/81/66fb818ea47505f7ec7dd2328190bac4--halle-berry-movies-free.jpg"
            width="100%" height="50%">
        <p>Strictly Business</p>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-9">
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star_half</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
            </div>
        </div>
        <br>
    </div>
</div>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">