<div class="row">
    <div class="col-md-3 text-center">
        <img class="rounded mx-auto " src="https://i.pinimg.com/originals/6e/77/11/6e7711adc246cb3fcde669c078d5995a.jpg" width="100%"
            height="50%">
        <p>I've Loved You So Long (Il y a longtemps que je t'aime)</p>
    </div>
    <div class="col-md-3 text-center">

        <img src="https://images-na.ssl-images-amazon.com/images/M/MV5BNjQ0NTY2ODY2M15BMl5BanBnXkFtZTgwMjE4MzkxMDE@._V1_UX182_CR0,0,182,268_AL_.jpg" width="100%" height="50%">
        <p>Curious Case of Benjamin Button</p>

    </div>
    <div class="col-md-3 text-center">

        <img class="rounded mx-auto " src="http://fr.web.img4.acsta.net/medias/nmedia/18/67/38/71/19053087.jpg"
            width="100%" height="50%">
        <p>Passengers</p>

    </div>
    <div class="col-md-3 text-center">
        <img class="rounded mx-auto " src="https://upload.wikimedia.org/wikipedia/en/thumb/d/d0/Mystery_Team.jpg/220px-Mystery_Team.jpg"
            width="100%" height="50%">
        <p>Mystery Team</p>
    </div>
</div>

<div class="row">
    <div class="col-md-3 text-center">
        <img class="rounded mx-auto " src="https://images-na.ssl-images-amazon.com/images/I/71LuJXrZ4YL._SY445_.jpg" width="100%"
            height="50%">
        <p>Pink Panther 2</p>
    </div>
    <div class="col-md-3 text-center">

        <img src="https://upload.wikimedia.org/wikipedia/en/a/ae/Men_Who_Hate_Women.jpg" width="100%" height="50%">
        <p>Girl with the Dragon Tattoo, The (Män som hatar kvinnor)</p>

    </div>
    <div class="col-md-3 text-center">

        <img class="rounded mx-auto " src="https://images-na.ssl-images-amazon.com/images/I/91OjNKLHzXL._SL1500_.jpg"
            width="100%" height="50%">
        <p>Echelon Conspiracy </p>

    </div>
    <div class="col-md-3 text-center">
        <img class="rounded mx-auto " src="https://resizing.flixster.com/vzKDZMLWZZrwm7Rdhms0IfNIdmQ=/206x305/v1.bTsxMTE3MzM2OTtqOzE3NjM0OzEyMDA7ODAwOzEyMDA"
            width="100%" height="50%">
        <p>Moon</p>
    </div>
</div>

<div class="row">
    <div class="col-md-3 text-center">
        <img class="rounded mx-auto " src="https://resizing.flixster.com/vvhMbtpmsjBnrM-m_Xt5tYezmhk=/206x305/v1.bTsxMTE3MTA3MDtqOzE3NjM0OzEyMDA7ODAwOzEyMDA" width="100%"
            height="50%">
        <p>Angels & Demons </p>
    </div>
    <div class="col-md-3 text-center">

        <img src="https://images-na.ssl-images-amazon.com/images/M/MV5BNTY3NjliMzktMTY5NS00NzUzLWJlY2MtODlhZjYxYzRiNzZhXkEyXkFqcGdeQXVyMzM4MjM0Nzg@._V1_SY1000_CR0,0,707,1000_AL_.jpg" width="100%" height="50%">
        <p>Neon Genesis Evangelion: Death & Rebirth (Shin seiki Evangelion Gekijô-ban: Shito shinsei)</p>

    </div>
    <div class="col-md-3 text-center">

        <img class="rounded mx-auto " src="https://upload.wikimedia.org/wikipedia/en/thumb/1/1d/Dans_la_brume_%C3%A9lectrique_poster.jpg/220px-Dans_la_brume_%C3%A9lectrique_poster.jpg"
            width="100%" height="50%">
        <p>In the Electric Mist  </p>

    </div>
    <div class="col-md-3 text-center">
        <img class="rounded mx-auto " src="https://upload.wikimedia.org/wikipedia/en/thumb/2/2f/ThelmaJordonPoster.JPG/220px-ThelmaJordonPoster.JPG"
            width="100%" height="50%">
        <p>File on Thelma Jordan</p>
    </div>
</div>



<div class="row">
    <div class="col-md-3 text-center">
        <img class="rounded mx-auto " src="https://vignette.wikia.nocookie.net/harrypotter/images/2/23/Hp6_poster_br.jpg/revision/latest/scale-to-width-down/337?cb=20141215114252" width="100%"
            height="50%">
        <p>Harry Potter and the Half-Blood Prince </p>
    </div>
    <div class="col-md-3 text-center">

        <img src="https://vignette.wikia.nocookie.net/fastandfurious/images/0/04/The_Fast_and_the_Furious_%28DVD_Cover%29.jpeg/revision/latest?cb=20150501043627" width="100%" height="50%">
        <p>Fast and the Furious</p>

    </div>
    <div class="col-md-3 text-center">

        <img class="rounded mx-auto " src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTBjMjY0ODEtZGVkMy00MjUyLTlkMjAtNDBmNzVjOTk0NzQyXkEyXkFqcGdeQXVyNTA4NzY1MzY@._V1_UY1200_CR88,0,630,1200_AL_.jpg"
            width="100%" height="50%">
        <p>Orphan </p>

    </div>
    <div class="col-md-3 text-center">
        <img class="rounded mx-auto " src="https://upload.wikimedia.org/wikipedia/en/d/d7/District_nine_ver2.jpg"
            width="100%" height="50%">
        <p>District 9</p>
    </div>
</div>