<div class="row">
    <div class="col-md-3 text-center">
        <img class="rounded mx-auto " src="https://upload.wikimedia.org/wikipedia/en/3/32/Ghostbusters_2016_film_poster.png" width="100%"
            height="50%">
        <p>Ghostbusters</p>
    </div>
    <div class="col-md-3 text-center">

        <img src="http://www.kronosrecords.com/images/K51.jpg" width="100%" height="50%">
        <p>The Maid's Room</p>

    </div>
    <div class="col-md-3 text-center">

        <img class="rounded mx-auto " src="http://www.asset1.net/tv/pictures/movie/central-intelligence-extended-version-2016/Central-Intelligence-extended-KA-1.jpg"
            width="100%" height="50%">
        <p>Central Intelligence</p>

    </div>
    <div class="col-md-3 text-center">
        <img class="rounded mx-auto " src="https://i.hungrygowhere.com/cms/f5/e5/44/47/161624/56d01fb8b6_345x518_b1093cb7df.jpg"
            width="100%" height="50%">
        <p>Jason Bourne</p>
    </div>
</div>
<div class="row">
    <div class="col-md-3 text-center">

        <img class="rounded mx-auto " src="https://upload.wikimedia.org/wikipedia/en/b/b8/Howard_Sterns_Private_Parts_Film_Poster.JPG"
            width="100%" height="50%">
        <p>Private Parts</p>

    </div>
    <div class="col-md-3 text-center">

        <img class="rounded mx-auto " src="https://movie.thaiware.com/upload_misc/movie/2014_06/original/1609_140625120502D1.jpg"
            width="100%" height="50%">
        <p>Rosewood</p>

    </div>
    <div class="col-md-3 text-center">

        <img class="rounded mx-auto " src="https://www.warnerbros.com/sites/default/files/styles/key_art_270x400/public/absolute_power_keyart.jpg?itok=S7FiwI9n"
            width="100%" height="50%">
        <p>Absolute Power</p>

    </div>
    <div class="col-md-3 text-center">

        <img class="rounded mx-auto " src="https://static.rogerebert.com/uploads/movie/movie_poster/paradise-road-1997/large_a60limckZX9NR9OaZueMZVjHNSG.jpg"
            width="100%" height="50%">
        <p>Paradise Road</p>

    </div>
</div>
<div class="row">
    <div class="col-md-3 text-center">

        <img class="rounded mx-auto " src="http://images.amazon.com/images/P/0783226772.01.LZZZZZZZ.jpg" width="100%" height="50%">
        <p>That Old Feeling</p>

    </div>
    <div class="col-md-3 text-center">

        <img class="rounded mx-auto " src="http://2.bp.blogspot.com/_CDuRi7K2FVw/S76TScYYzaI/AAAAAAAAIRo/3PvRApI8ZlA/s1600/Lost+Highway+(1997).jpg"
            width="100%" height="50%">
        <p>Lost Highway</p>

    </div>
    <div class="col-md-3 text-center">

        <img class="rounded mx-auto " src="https://lh3.googleusercontent.com/xI9GW8alKSBAq8HEK-AYSFu7O7oT4QMb959AJvRnWsr6cH6-Pm6yas82luSTPYqibrE=w400-h600"
            width="100%" height="50%">
        <p>Toy Story of Terror</p>

    </div>
    <div class="col-md-3 text-center">

        <img class="rounded mx-auto " src="http://entertainment.ie/images_content/BadGrandpa1(1).jpg" width="100%" height="50%">
        <p>Jackass Presents: Bad Grandpa</p>

    </div>
    <div class="row">
        <div class="col-md-3 text-center">

            <img class="rounded mx-auto " src="http://p3.isanook.com/mv/0/ud/7/36312/3.jpg" width="100%" height="50%">
            <p>Philomena</p>
        </div>
        <div class="col-md-3 text-center">
            <img class="rounded mx-auto " src="http://p3.isanook.com/mv/0/ud/7/36310/book_thief.jpg" width="100%" height="50%">
            <p>Book Thief, The</p>
        </div>
        <div class="col-md-3 text-center">
            <img class="rounded mx-auto " src="https://www.mastermovie-hd.com/wp-content/uploads/2014/11/The-Hobbit-The-Desolation-of-Smaug-2-%E0%B9%80%E0%B8%94%E0%B8%AD%E0%B8%B0-%E0%B8%AE%E0%B8%AD%E0%B8%9A%E0%B8%9A%E0%B8%B4%E0%B8%97-%E0%B8%94%E0%B8%B4%E0%B8%99%E0%B9%81%E0%B8%94%E0%B8%99%E0%B9%80%E0%B8%9B%E0%B8%A5%E0%B8%B5%E0%B9%88%E0%B8%A2%E0%B8%A7%E0%B8%A3%E0%B9%89%E0%B8%B2%E0%B8%87%E0%B8%82%E0%B8%AD%E0%B8%87%E0%B8%AA%E0%B8%A1%E0%B9%87%E0%B8%AD%E0%B8%84.jpg"
                width="100%" height="50%">
            <p>Hobbit: The Desolation of Smaug, The</p>
        </div>
        <div class="col-md-3 text-center">
            <img class="rounded mx-auto " src="http://p3.isanook.com/mv/0/ud/7/36354/wolfofwallstreet77391.jpg" width="100%" height="50%">
            <p>Wolf of Wall Street, The</p>
        </div>
    </div>
</div>