<div class="text-center card card-inverse card-success mb-3">
    <h1>แนะนำ</h1>
</div>
<div class="card">
    <br>
    <div class="row">
        <div class="col-md-3 text-center">
            <img class="rounded mx-auto " src="https://images-na.ssl-images-amazon.com/images/I/919M4Axo91L._RI_.jpg" width="100%" height="50%">
        </div>
        <div class="col-md-9">
            <h1>Heartbreak Ridge</h1>
            <p> เรื่องย่อ : Heartbreak Ridge  แถบต้องระห่ำ HD Master พากย์ไทย เรื่องราวการกำกับภาพยนตร์และแสดงนำโดย Clint Eastwood 
                ในบทบาทของจ่าครูฝึกนาวิกโยธิน โดยต้องรับมือฝึกทหารที่ไม่อยู่ในระเบียบวินัยเพื่อเข้าสู่สมรภูมิจริงในการบุกเกรเนดา 
                ซึ่งเป็นประเทศบนเกาะในทะเลแคริบเบียนตะวันออกเฉียงใ ต้ ในปี 1983
            
            </p>

            <p> ประเภท : "Action|War"</p>
        </div>
    </div>
    <br>
</div>
<div class="card">
        <br>
        <div class="row">
            <div class="col-md-3 text-center">
                <img class="rounded mx-auto " src="https://images-na.ssl-images-amazon.com/images/I/515KSF98S3L.jpg" width="100%" height="50%">
            </div>
            <div class="col-md-9">
                <h1>Crocodile Dundee</h1>
                <p> เรื่องย่อ : Crocodile Dundee ไมเคิล เจ ครอกโคไดล์ ดันดี หรือ มิก เป็นนักล่าจระเข้ชาวออสเตรเลีย เขาอาศัยอยู่ในชนบทของออสเตรเลีย ทำธุรกิจเกี่ยวกับการท่องเที่ยวชมธรรมชาติ 
                    ซู เดินทางมาสัมภาษณ์มิก เกี่ยวกับการที่เขารอดชีวิตหลังจากถูกจระเข้ทำร้าย และมิกก็ได้ช่วยชีวิตซูไว้จากจระเข้ตัวหนึ่ง 
                    เธอจึงเชิญเขาไปที่นิวยอร์ก เขารู้สึกว่าในเมืองแตกต่างจากบ้านเขามาก และเขาก็ตกหลุมรักซูเข้าแล้วด้วย
                
                </p>
    
                <p> ประเภท : "Action|War"</p>
            </div>
        </div>
        <br>
    </div>
    <div class="card">
            <br>
            <div class="row">
                <div class="col-md-3 text-center">
                    <img class="rounded mx-auto"  src="https://cdn.movieweb.com/img.teasers.posters/FIcz4cdlYfmUff_357_a/Rambo-III.jpg" width="100%" height="50%">
                </div>
                <div class="col-md-9">
                    <h1>Rambo III</h1>
                    <p> เรื่องย่อ : Rambo III พันเอกแซมมวล ทร็อตแมน (ริชาร์ด เคร็นน่า) อดีตผู้บังคับบัญชาของจอห์น แรมโบ้ ได้ขอความช่วยเหลือจากแรมโบ้ (ซิลเวสเตอร์ สตอลโลน) 
                        ให้เป็นผู้ฝึกสอนกองกำลังกบฎมูจาฮิดีน Rambo 3 HD เพื่อต่อสู้กับทหารโซเวียตที่เข้ามารุกรานอัฟกานิสถาน แต่แรมโบ้ที่ในเวลานี้ใช้ชีวิตอยู่อย่างสงบในประเทศไทยได้บอกปฏิเสธ จนเมื่อทร็อตแมนถูกทหารฝ่ายศัตรูจับตัวไป 
                        เป็นหน้าที่ของแรมโบ้ที่ต้องหวนคืนสู่สนามรบอีกครั้งเพื่อช่วยเหลือเจ้านายเก่าของเขาให้ปลอดภัย 
                    
                    </p>
        
                    <p> ประเภท : "Action|Adventure|Thriller|War"</p>
                </div>
            </div>
            <br>
        </div>