
<div class="row">
    <div class="col-md-3 text-center">
        <img class="rounded mx-auto " src="http://www.mangpong.co.th/ProductImage/product/002963.jpg" width="100%" height="50%">
            
        <p>Story of Us, The</p>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-9">
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star_half</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
            </div>
        </div>
        <br>
    </div>
    <div class="col-md-3 text-center">

        <img src="http://movieposters.2038.net/p/Julien-Donkeyboy.jpg" width="100%" height="50%">
        <p>Julien Donkey-Boy</p>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-9">
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star_half</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
            </div>
        </div>
        <br>

    </div>
    <div class="col-md-3 text-center">

        <img class="rounded mx-auto " src="https://upload.wikimedia.org/wikipedia/en/2/2b/TheBadSeed1956.jpg"
            width="100%" height="50%">
        <p>Bad Seed, The</p>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-9">
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star_half</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
            </div>
        </div>
        <br>

    </div>
    <div class="col-md-3 text-center">
        <img class="rounded mx-auto " src="https://raremeatblog.files.wordpress.com/2016/04/fitz.jpeg?w=683"
            width="100%" height="50%">
        <p>Fitzcarraldo</p>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-9">
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star_half</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
            </div>
        </div>
        <br>
    </div>
</div>

<div class="row">
    <div class="col-md-3 text-center">
        <img class="rounded mx-auto " src="https://raremeatblog.files.wordpress.com/2017/02/all-that-jazz.jpg" width="100%"
            height="50%">
        <p>All That Jazz</p>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-9">
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star_half</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
            </div>
        </div>
        <br>
    </div>
    <div class="col-md-3 text-center">

        <img src="https://www.goldenglobes.com/sites/default/files/films/crimes-and-misdemeanors.jpg" width="100%" height="50%">
        <p>Crimes and Misdemeanors</p>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-9">
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star_half</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
            </div>
        </div>
        <br>

    </div>
    <div class="col-md-3 text-center">

        <img class="rounded mx-auto " src="http://p3.isanook.com/mv/0/ud/7/36190/best_man_holiday.jpg"
            width="100%" height="50%">
        <p>Best Man, The</p>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-9">
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star_half</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
            </div>
        </div>
        <br>

    </div>
    <div class="col-md-3 text-center">
        <img class="rounded mx-auto " src="https://i.pinimg.com/736x/8e/9d/40/8e9d4042c097ea3105e5486f5d6bf50e--bringing-out-the-dead-patricia-arquette.jpg"
            width="100%" height="50%">
        <p>Bringing Out the Dead</p>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-9">
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star_half</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
            </div>
        </div>
        <br>
    </div>
</div>

<div class="row">
    <div class="col-md-3 text-center">
        <img class="rounded mx-auto " src="https://i.ytimg.com/vi/Zp46F_O9JeE/movieposter.jpg" width="100%"
            height="50%">
        <p>Body Shots</p>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-9">
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star_half</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
            </div>
        </div>
        <br>
    </div>
    <div class="col-md-3 text-center">

        <img src="https://www.movie2free.com/wp-content/uploads/thumb/Robocop-poster.jpg" width="100%" height="50%">
        <p>RoboCop</p>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-9">
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star_half</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
            </div>
        </div>
        <br>

    </div>
    <div class="col-md-3 text-center">

        <img class="rounded mx-auto " src="http://oknation.nationtv.tv/blog/home/user_data/file_data/201705/07/65910ce5c.jpg"
            width="100%" height="50%">
        <p>Melvin and Howard</p>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-9">
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star_half</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
            </div>
        </div>
        <br>

    </div>
    <div class="col-md-3 text-center">
        <img class="rounded mx-auto " src="http://oknation.nationtv.tv/blog/home/blog_data/634/23634/images/Movies/MusicOfTheHeart/MUsicPoster.jpg"
            width="100%" height="50%">
        <p>Music of the Heart</p>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-9">
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star_half</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
            </div>
        </div>
        <br>
    </div>
</div>

<div class="row">
    <div class="col-md-3 text-center">
        <img class="rounded mx-auto " src="https://www.vojkud.com/wp-content/uploads/2016/08/The-Stepfather-2009-%E0%B8%9E%E0%B9%88%E0%B8%AD%E0%B9%80%E0%B8%A5%E0%B8%B5%E0%B9%89%E0%B8%A2%E0%B8%87%E0%B9%82%E0%B8%AB%E0%B8%94%E0%B9%82%E0%B8%84%E0%B8%A3%E0%B8%95%E0%B8%AD%E0%B8%B3%E0%B8%A1%E0%B8%AB%E0%B8%B4%E0%B8%95-209x300.jpg" width="100%"
            height="50%">
        <p>Suburbans, The </p>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-9">
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star_half</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
            </div>
        </div>
        <br>
    </div>
    <div class="col-md-3 text-center">

        <img src="http://www.majorcineplex.com/uploads/movie/1045/thumb_1045.jpg" width="100%" height="50%">
        <p>Insider, The</p>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-9">
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star_half</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
            </div>
        </div>
        <br>

    </div>
    <div class="col-md-3 text-center">

        <img class="rounded mx-auto " src="http://oknation.nationtv.tv/blog/home/user_data/file_data/201505/09/579816819.jpg"
            width="100%" height="50%">
        <p>Last Night</p>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-9">
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star_half</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
            </div>
        </div>
        <br>

    </div>
    <div class="col-md-3 text-center">
        <img class="rounded mx-auto " src="https://upload.wikimedia.org/wikipedia/en/2/24/DrugstoreCowboyposter.jpg"
            width="100%" height="50%">
        <p>Drugstore Cowboy</p>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-9">
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star</i>
                <i class="material-icons" style="color:yellow">star_half</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
                <i class="material-icons" style="color:yellow">&#xe83a;</i>
            </div>
        </div>
        <br>
    </div>
</div>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">